<tr>
  <td>
    <%=public_account.weixin_app_id %>
  </td>
  <td>
    <%=public_account.weixin_secret_key %>
  </td>
  <td>
    <%= link_to "菜单详情", "/eric_weixin/cms/weixin/public_accounts/#{public_account.id}" %>
  </td>
  <td>
    <%= link_to "导出用户", "/eric_weixin/cms/weixin/public_accounts/#{public_account.id}/export" %>
  </td>

  <td>
    <%= link_to "更新用户列表", "/eric_weixin/cms/weixin/public_accounts/#{public_account.id}/rebuild_weixin_users" %>
  </td>
</tr>

