<h3 class="text-center">微信素材管理</h3>
<%= form_tag '/eric_weixin/cms/weixin/media_resources/', method: :get do %>
    <div class="row">
      <div class="columns small-2 text-right">
        <label class="inline">标签名称</label>
      </div>
      <div class="columns small-2">
        <%= text_field_tag :tag, params[:tag] %>
      </div>
      <div class="columns small-2 text-right">
        <label class="inline">素材类型</label>
      </div>
      <div class="columns small-2">
        <%= select_tag :category_name, options_from_collection_for_select(::EricWeixin::MediaResource::RESOURCE_TYPE, 'first', 'second', params[:category_name]) %>
      </div>
      <div class="columns small-4">
        <%= submit_tag '查询', class: 'button tiny' %>
      </div>
    </div>
<% end %>

<table>
  <tr>
    <th width="20%">图片预览</th>
    <th width="10%">类型</th>
    <th width="10%">创建时间</th>

    <th width="30%">链接</th>
    <th width="10%">操作</th>
  </tr>
  <% @media_resources.each do |media_resource| %>
      <tr>
        <td>
          <img src="<%= media_resource.local_link %>" width="100" height="100">

        </td>
        <td><%= ::EricWeixin::MediaResource::RESOURCE_TYPE[media_resource.category_name] %></td>
        <td><%= media_resource.created_at.chinese_format %></td>

        <td style="WORD-BREAK: break-all; WORD-WRAP: break-word"><%= media_resource.wechat_link %></td>
        <td> <a href="/eric_weixin/cms/weixin/media_resources/<%= media_resource.id %>/edit">编辑</a></td>

      </tr>
  <% end %>
</table>
<%= will_paginate @media_resources %>