<tr data-id="<%=rule.id%>">
  <td>
    <%= rule.weixin_public_account_name %>
  </td>
  <td>
    <%= rule.key_word %>
  </td>
  <th>
    <%= rule.reply_message %>
  </th>
  <th>
    <%= ::EricWeixin::ReplyMessageRule::KEY_WORD_TYPE_LABEL[rule.key_word_type]%>
  </th>
  <th>
    <%= ::EricWeixin::ReplyMessageRule::REPLY_TYPE_LABEL[rule.reply_type] %>
  </th>
  <th><%=rule.order %></th>
  <th><%=link_to"删除",  cms_weixin_reply_message_rule_path(rule), remote: true, method: :delete%></th>
  <th><%= link_to "修改", edit_cms_weixin_reply_message_rule_path(rule), :remote => true%></th>
</tr>