<div class="row">
  <div class="large-9 columns">
    <%=form_for(rule, :url => cms_weixin_reply_message_rule_path(rule), :remote => true) do |f| %>
        <div class="row">
          <div class="large-3 columns">
            <label class="required string text-right inline">关联公众号</label>
          </div>
          <div class="large-9 columns">
            <%=
                select_tag "weixin_reply_message_rule[weixin_public_account_id]",
                           options_from_collection_for_select(@public_accounts, "id", "name", rule.weixin_public_account_id)
            %>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <label class="required string text-right inline">关键字</label>
          </div>
          <div class="large-9 columns">
            <%= f.text_field :key_word %>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <label class="required string text-right inline">匹配方式</label>
          </div>
          <div class="large-9 columns">
            <%= f.select(:key_word_type,[["请选择",nil],["字符","keyword"],["正则表达式","regularexpr"]])%>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <label class="required string text-right inline">权重</label>
          </div>
          <div class="large-9 columns">
            <%= f.text_field :order %>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <label class="required string text-right inline">回复内容</label>
          </div>
          <div class="large-9 columns">
            <%= f.text_area :reply_message %>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <label class="required string text-right inline">处理方式</label>
          </div>
          <div class="large-9 columns">
            <%= f.select(:reply_type,[["请选择",nil],["静态字符串","text"],["动态运行","wx_function"],["多图文","news"]])%>
          </div>
        </div>

        <%= f.submit "提交", class: "button"%>
    <% end %>
  </div>
</div>
