<h1>微信关键字列表</h1>
<a href="/eric_weixin/cms/weixin/reply_message_rules/new" class="tiny button">新建</a>
<table role="gridcell">
  <thead>
  <tr>
    <th width="50">微信公众号</th></th><th>关键字</th><th>回复</th><th width="50">类型</th><th width="90">处理方式</th><th width="50">权重</th><th width="50">删除</th><th width="50">修改</th>
  </tr>
  </thead>
  <tbody>
  <% @reply_message_rules.each do |rule|%>
  <tr data-id="<%=rule.id%>">
    <td>
      <%= rule.weixin_public_account_name %>
    </td>
    <td>
      <%= rule.key_word %>
    </td>
    <td>
      <%= rule.reply_message %>
    </td>
    <td>
      <%= ::EricWeixin::ReplyMessageRule::KEY_WORD_TYPE_LABEL[rule.key_word_type] %>
    </td>
    <td>
      <%= ::EricWeixin::ReplyMessageRule::REPLY_TYPE_LABEL[rule.reply_type] %>
    </td>
    <td><%=rule.order %></td>
    <td><%=link_to"删除",  "/eric_weixin/cms/weixin/reply_message_rules/#{rule.id}", :remote =>true, method: :delete, data: {confirm: "你确定要删除吗？"}%></td>
    <td><%= link_to "修改", "/eric_weixin/cms/weixin/reply_message_rules/#{rule.id}/edit" %></td>
  </tr>

  <% end %>
  </tbody>
</table>

