<!DOCTYPE html>
<html>
  <head>
    <title>微信小店</title>
    <%= stylesheet_link_tag    "eric_weixin/application", media: "all" %>
    <%= javascript_include_tag "eric_weixin/application" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <div class="xiaodian_orders">
      <% if @orders.blank?  %>
          <div class="no_xiaodian_order">
            <div class="no_order_suggestion">
              您还没有订单 _(:з」∠)_


            </div>

          </div>
      <% else %>
          <% @orders.each do |order| %>
              <div class="xiaodian_order">

                <div class="product_info-list">
                  <div class="product_info-title">
                    <div class="product_info-name">
                      <%= order.product_name %>
                    </div>
                    <div class="product_info-time">
                      <%= Time.at(order.order_create_time).strftime("%Y-%m-%d %H:%M") %>
                    </div>
                  </div>
                  <div class="product_info-description">
                    <div class="product_info-part">
                      数量：<%= order.product_count %>
                    </div>
                    <div class="product_info-part">
                      <% unless order.sku_info.blank? %>
                        <% result_array = [] %>
                        <% sku_array = order.sku_info.split(';') %>
                        <% sku_array.each do |sku| %>
                          <% sku_pair = sku.split(':') %>
                          <% sku_k = sku_pair[0] %>
                          <% sku_v = sku_pair[1] %>
                          <% if sku_k =~ /^\d{10}$/ %>
                            <% sku_result_k = EricWeixin::Xiaodian::SkuName.where(:wx_name_id => sku_k.to_s).first.name %>
                            <% sku_result_v = EricWeixin::Xiaodian::SkuValue.where(:wx_value_id => sku_v).first.name %>
                          <% else %>
                            <% sku_result_k = sku_k.gsub(/[$]/, '$' => '') %>
                            <% sku_result_v = sku_v.gsub(/[$]/, '$' => '') %>
                          <% end %>
                          <% single_result = "#{sku_result_k}: #{sku_result_v}" %>
                          <% result_array << single_result %>
                        <% end %>
                        <%= result_array.join('; ') %>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="user_info-list">
                  <div class="user_info-user">
                    <div class="user_info-part">
                      姓名：<%= order.receiver_name %>
                    </div>
                    <div class="user_info-part">
                      手机号：<%= order.receiver_mobile || order.receiver_phone %>
                    </div>
                  </div>
                  <div class="user_info-address">
                    收货地址：<%= order.receiver_address %>
                  </div>
                </div>


                <div class="delivery_info-list">
                  <div class="delivery_info-part">
                    快递信息：<%= order.delivery_company %>
                  </div>
                  <div class="delivery_info-part">
                    <%= order.delivery_id %>
                  </div>
                </div>
              </div>
          <% end %>

          <%= will_paginate @collections, renderer: FoundationPagination::Rails %>
      <% end %>

    </div>
  </body>
</html>




