<% EricWeixin::PublicAccount.all.each do |pa| %>
    <%= link_to "更新#{pa.name}红包信息", "/eric_weixin/cms/weixin/xiaodian/orders/update_hb_infos?public_account_id=#{pa.id}", class: 'button tiny' %>
<% end %>
<%= link_to "更新本月的订单", "/eric_weixin/cms/weixin/xiaodian/orders/update_order_infos", class: 'button tiny' %>
<%= form_tag "/eric_weixin/cms/weixin/xiaodian/orders/", method: :get do %>
<div class="row">
  <div class="columns small-2">
  <label class="inline text-right">时间区间</label>
</div>
  <div class="columns small-2">
    <%= date_field_tag :start_date, params[:start_date] %>
  </div>
  <div class="columns small-2 text-center">
    <label class="inline center">至</label>
  </div>
  <div class="columns small-2 end">
    <%= date_field_tag :end_date, params[:end_date] %>
  </div>
  <div class="columns small-2">
    <label class="inline text-right">发货状态</label>
  </div>
  <div class="columns small-2">
    <%= select_tag :deliver_status, options_for_select({ '未发货' => 1, '已发货' => 2}, params[:deliver_status]), prompt: '全部' %>
    <%#= check_box_tag :need_deliver, '1', params[:commit]!='查询'&&params[:need_deliver].blank? ? true : params[:need_deliver]=='1' %><!--<label class="inline small-3">需要发货</label>-->
  </div>
</div>
<div class="row">
  <div class="columns small-2">
    <label class="inline text-right">昵称</label>
  </div>
  <div class="columns small-2">
    <%= text_field_tag :buyer_nick, params[:buyer_nick] %>
  </div>
  <div class="columns small-2">
    <label class="inline text-right">收货人姓名</label>
  </div>
  <div class="columns small-2">
    <%= text_field_tag :receiver_name, params[:receiver_name] %>
  </div>
  <div class="columns small-2">
    <label class="inline text-right">手机号</label>
  </div>
  <div class="columns small-2">
    <%= text_field_tag :receiver_mobile, params[:receiver_mobile] %>
  </div>
</div>
    <div class="row">
      <div class="columns small-2">
        <label class="inline text-right">快递单号</label>
      </div>
      <div class="columns small-2">
        <%= text_field_tag :delivery_id, params[:delivery_id] %>
      </div>
      <div class="columns small-2">
        <label class="inline text-right">城市</label>
      </div>
      <div class="columns small-2">
        <%= text_field_tag :receiver_city, params[:receiver_city] %>
      </div>
      <div class="columns small-2">
        <label class="inline text-right">地址</label>
      </div>
      <div class="columns small-2">
        <%= text_field_tag :receiver_address, params[:receiver_address] %>
      </div>
    </div>
    <div class="row">
        <div class="columns small-12 text-right">
          <%= submit_tag '查询', class: 'tiny button' %>
        </div>
    </div>
  <% end %>
<h3>订单列表</h3>
微信小店官方物流公司：邮政EMS、申通快递、中通速递、圆通速递、天天快递、顺丰速运、韵达快运、宅急送、汇通快运、易迅快递
<table style="width: 113%; table-layout: auto;" >
  <thead>
    <th>订单ID/快递码</th>

    <th>昵称</th><th>购买时间</th><th>宝贝</th><th>宝贝信息</th><th>数量</th><th>收货信息</th>

    <th>需物流</th><th>官方物流</th><th>快递公司</th><th>运单号</th><th>操作</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
        <tr>
          <!--<td style="word-break:break-all"><%#= order.order_id %></td>-->
          <td>
            <%= order.order_id %>
            <% file_path = order.create_barcode %>
            <%= image_tag file_path, height: '80', width: '150' %>
          </td>
          <td style="word-break:break-all"><%= order.buyer_nick rescue '' %></td>
          <td style="word-break:break-all"><%= Time.at(order.order_create_time).strftime("%Y-%m-%d %H:%M") %></td>
          <td style="word-break:break-all"><%= order.product.name rescue 'error' %></td>
          <td style="word-break:break-all"><%= order.product_info %></td>
          <td style="word-break:break-all"><%= order.product_count %></td>
          <td style="word-break:break-all">
            <%= order.receiver_name %>
            <%= order.receiver_mobile %><br>
            <%= "#{order.receiver_province}#{order.receiver_city}#{order.receiver_zone}#{order.receiver_address}" %>
          </td>
          <td style="word-break:break-all; width:12px">
            <%= check_box_tag "order_#{order.id}_is_need_delivery", "1", true, onchange: "change_need_delivery(#{order.id})" %>
          </td>
          <td id="order_<%= order.id %>_is_xiaodian_delivery_td"  style="word-break:break-all">
            <% is_xiaodian_delivery = EricWeixin::Xiaodian::Order::DELIVERY_COMPANY.keys.include?(order.delivery_company) %>
            <%= check_box_tag "order_#{order.id}_is_xiaodian_delivery", "1", is_xiaodian_delivery , onchange: "change_is_xiaodian_delivery(#{order.id})" %>
          </td>
          <td id="order_<%= order.id %>_delivery_company_td"  style="word-break:break-all">
            <% if is_xiaodian_delivery %>
              <%= select_tag "order_#{order.id}_delivery_company", options_from_collection_for_select(EricWeixin::Xiaodian::Order::DELIVERY_COMPANY, 'first', 'second', order.delivery_company), prompt: '选择快递公司' %>
            <% elsif order.delivery_company.blank? %>
              <%= text_field_tag "order_#{order.id}_delivery_company" %>
            <% else %>
              <span id="<%= order.id %>_delivery_com_show" onclick="update_delivery('<%=order.id %>');"><%= order.delivery_company %></span>
              <span id="<%= order.id %>_delivery_com_input_span" style="display: none">
                <%= text_field_tag "order_#{order.id}_delivery_company", order.delivery_company %>
              </span>
            <% end %>
          </td>
          <td id="order_<%= order.id %>_deliver_id_td"  style="word-break:break-all">
            <% if order.delivery_id.blank? %>
              <%= text_field_tag "order_#{order.id}_delivery_id" %>
            <% else %>
              <span id="<%= order.id %>_delivery_show" onclick="update_delivery('<%=order.id %>');"><%= order.delivery_id %></span>
              <span id="<%= order.id %>_delivery_input_span" style="display: none">
                <%= text_field_tag "order_#{order.id}_delivery_id", order.delivery_id %>
              </span>
            <% end %>
          </td>
          <td id="order_<%= order.id %>_action_td"  style="word-break:break-all">
            <%= link_to '保存', "javascript:save_delivery_info(#{order.id})", id: "order_#{order.id}_action", class: "button tiny" %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @collection, renderer: FoundationPagination::Rails %>
<div class="row">
  <div class="columns small-12 text-right">
    <%= link_to '下载订单', "/eric_weixin/cms/weixin/xiaodian/orders/download_orders?start_time=#{params[:start_date]}&end_time=#{params[:end_date]}&deliver_status=#{params[:deliver_status]}&buyer_nick=#{params[:buyer_nick]}&receiver_name=#{params[:receiver_name]}&receiver_mobile=#{params[:receiver_mobile]}", class: 'button tiny' %>
  </div>
</div>

<%= form_tag '/eric_weixin/cms/weixin/xiaodian/orders/update_delivery_info_by_excel', multipart: true, method: 'post' do %>
<div class="row">
  <div class="columns small-5 text-right">
    <label class="inline">包含快递单信息的excel文件(仅支持xls格式)</label>
  </div>
  <div class="columns small-3">
    <%= file_field_tag 'file' %>
  </div>
  <div class="columns small-4 text-left">
    <%= submit_tag '更新快递单信息', class: 'button tiny' %>
  </div>
</div>
<% end %>
<script language="javascript">
  function change_need_delivery(order_id){
    if(!$("#order_"+order_id+"_is_need_delivery")[0].checked){
        $("#order_"+order_id+"_is_xiaodian_delivery")[0].style.display = "none";
        $("#order_"+order_id+"_delivery_company")[0].style.display="none";
        $("#order_"+order_id+"_delivery_id")[0].style.display="none";
    } else {
        $("#order_"+order_id+"_is_xiaodian_delivery")[0].style.display = "inline";
        $("#order_"+order_id+"_delivery_company")[0].style.display="inline";
        $("#order_"+order_id+"_delivery_id")[0].style.display="inline";
    }
  }
  function change_is_xiaodian_delivery(order_id){
      delivery_code = $("#order_"+order_id+"_delivery_company")[0].value;
      if($("#order_"+order_id+"_is_xiaodian_delivery")[0].checked){
          select_delivery_company_str = '<select name="order_'+order_id+'_delivery_company" id="order_'+order_id+'_delivery_company">';
          select_delivery_company_str += '<option value="">选择快递公司</option>';
          <% EricWeixin::Xiaodian::Order::DELIVERY_COMPANY.each do |dc| %>
                selected_str = '';
                if(delivery_code=='<%= dc[0] %>') {
                    selected_str = 'selected="selected"';
                }
                select_delivery_company_str += '<option '+selected_str+' value="'+ '<%= dc[0] %>' +'">'+'<%= dc[1] %>'+'</option>';
          <% end %>
          select_delivery_company_str += '</select>';
          $("#order_"+order_id+"_delivery_company_td").html(select_delivery_company_str);
      } else {
          input_delivery_company_str = '<input type="text" name="order_'+order_id+'_delivery_company" id="order_'+order_id+'_delivery_company" value="">';
          $("#order_"+order_id+"_delivery_company_td").html(input_delivery_company_str);
      }
  }
  function save_delivery_info(order_id){
      need_delivery = $("#order_"+order_id+"_is_need_delivery")[0].checked ? 1 : 0;
//      is_others = $("#order_"+order_id+"_is_xiaodian_delivery")[0].checked ? 0 : 1;
      delivery_track_no = $("#order_"+order_id+"_delivery_id")[0].value;
      delivery_company = $("#order_"+order_id+"_delivery_company")[0].value;
      $.ajax({
          url: '/eric_weixin/cms/weixin/xiaodian/orders/save_delivery_info',
          type: 'post',
          data: {id: order_id, need_delivery: need_delivery, is_others: 1, delivery_track_no: delivery_track_no, delivery_company: delivery_company},
          async: false
      }).done(
              function(result){
                  alert(result);
              }
      );
  }
  function update_delivery(id) {
    $("#" + id + "_delivery_show").toggle();
    $("#" + id + "_delivery_input_span").toggle();
    $("#" + id + "_delivery_com_show").toggle();
    $("#" + id + "_delivery_com_input_span").toggle();
  }
</script>