<h3>订单列表</h3>
微信小店官方物流公司：邮政EMS、申通快递、中通速递、圆通速递、天天快递、顺丰速运、韵达快运、宅急送、汇通快运、易迅快递
<table>
  <thead>
    <th>订单ID</th><th>是否需要物流</th><th>是否官方物流</th><th>快递公司</th><th>运单号</th><th>操作</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.order_id %></td>
          <td>
            <%= check_box_tag "order_#{order.id}_is_need_delivery", "1", true, onchange: "change_need_delivery(#{order.id})" %>
          </td>
          <td id="order_<%= order.id %>_is_xiaodian_delivery_td">
            <% is_xiaodian_delivery = EricWeixin::Xiaodian::Order::DELIVERY_COMPANY.keys.include?(order.delivery_company) %>
            <%= check_box_tag "order_#{order.id}_is_xiaodian_delivery", "1", is_xiaodian_delivery , onchange: "change_is_xiaodian_delivery(#{order.id})" %>
          </td>
          <td id="order_<%= order.id %>_delivery_company_td">
            <% if is_xiaodian_delivery %>
                <%= select_tag "order_#{order.id}_delivery_company", options_from_collection_for_select(EricWeixin::Xiaodian::Order::DELIVERY_COMPANY, 'first', 'second', order.delivery_company), prompt: '选择快递公司' %>
            <% else %>
                <%= text_field_tag "order_#{order.id}_delivery_company", order.delivery_company %>
            <% end %>
          </td>
          <td id="order_<%= order.id %>_deliver_id_td">
            <%= text_field_tag "order_#{order.id}_delivery_id", order.delivery_id %>
          </td>
          <td id="order_<%= order.id %>_action_td">
            <%= link_to '保存', "javascript:save_delivery_info(#{order.id})", id: "order_#{order.id}_action", class: "button tiny" %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<script language="javascript">
  function change_need_delivery(order_id){
    if(!$("#order_"+order_id+"_is_need_delivery")[0].checked){
        $("#order_"+order_id+"_is_xiaodian_delivery")[0].style.display = "none";
        $("#order_"+order_id+"_delivery_company")[0].style.display="none";
        $("#order_"+order_id+"_delivery_id")[0].style.display="none";
    } else {
        $("#order_"+order_id+"_is_xiaodian_delivery")[0].style.display = "inline";
        $("#order_"+order_id+"_delivery_company")[0].style.display="inline";
        $("#order_"+order_id+"_delivery_id")[0].style.display="inline";
    }
  }
  function change_is_xiaodian_delivery(order_id){
      delivery_code = $("#order_"+order_id+"_delivery_company")[0].value;
      if($("#order_"+order_id+"_is_xiaodian_delivery")[0].checked){
          select_delivery_company_str = '<select name="order_'+order_id+'_delivery_company" id="order_'+order_id+'_delivery_company">';
          select_delivery_company_str += '<option value="">选择快递公司</option>';
          <% EricWeixin::Xiaodian::Order::DELIVERY_COMPANY.each do |dc| %>
                selected_str = '';
                if(delivery_code=='<%= dc[0] %>') {
                    selected_str = 'selected="selected"';
                }
                select_delivery_company_str += '<option '+selected_str+' value="'+ '<%= dc[0] %>' +'">'+'<%= dc[1] %>'+'</option>';
          <% end %>
          select_delivery_company_str += '</select>';
          $("#order_"+order_id+"_delivery_company_td").html(select_delivery_company_str);
      } else {
          input_delivery_company_str = '<input type="text" name="order_'+order_id+'_delivery_company" id="order_'+order_id+'_delivery_company" value="">';
          $("#order_"+order_id+"_delivery_company_td").html(input_delivery_company_str);
      }
  }
  function save_delivery_info(order_id){
      need_delivery = $("#order_"+order_id+"_is_need_delivery")[0].checked ? 1 : 0;
      is_others = $("#order_"+order_id+"_is_xiaodian_delivery")[0].checked ? 0 : 1;
      delivery_track_no = $("#order_"+order_id+"_delivery_id")[0].value;
      delivery_company = $("#order_"+order_id+"_delivery_company")[0].value;
      $.ajax({
          url: '/eric_weixin/cms/weixin/xiaodian/orders/save_delivery_info',
          type: 'post',
          data: {id: order_id, need_delivery: need_delivery, is_others: is_others, delivery_track_no: delivery_track_no, delivery_company: delivery_company},
          async: false
      }).done(
              function(result){
                  alert(result);
              }
      );
  }
</script>