<tr>
  <td><%=article_data.id%></td>
  <td><%=article_data.title%></td>
  <td><%=article_data.desc%></td>
  <td><img style="width:200px;height:100px;" src=<%=article_data.pic_url%> /></td>
  <td><a href=<%=article_data.link_url%> >具体内容</a></td>
  <td><a href=<%="/eric_weixin/cms/weixin/article_datas/#{article_data.id}/edit" %> >编辑</a> </td>
</tr>