<tr>
  <td><%=news_data.id%></td>
  <td><%=news_data.title%></td>
  <td><%=news_data.match_key%></td>
  <td><a href=<%="/cms/weixin/news_datas/#{news_data.id}"%> >查看 </a> </td>
  <td><a href=<%="/cms/weixin/news_datas/#{news_data.id}/edit"%>   >编辑</a></td>
</tr>